# Editor / local tooling
.devenv*
.direnv
.cache/
.idea/
.sisyphus/
.rumdl_cache/
.codex

# Logs and temporary files
*.log
*.tmp
*~

# local devenv:
devenv.local.nix
devenv.local.yaml

# Managed by devenv:
/.pre-commit-config.yaml
/treefmt.toml
