[Desktop Entry]
Type=Application
Name=KiriView
GenericName=Image Viewer
Exec=kiriview %U
Icon=io.github.hnjae.KiriView
Terminal=false
Categories=Graphics;Viewer;Qt;KDE;
MimeType=image/png;image/jpeg;image/jp2;image/jxl;image/gif;image/webp;image/avif;image/avif-sequence;image/heif;image/bmp;image/tiff;image/svg+xml;application/vnd.comicbook+zip;application/x-cbt;application/x-cb7;
StartupNotify=true
