[Desktop Entry]
Type=Application
Name=KiriView
GenericName=Image Viewer
Exec=kiriview %U
Icon=io.github.hnjae.KiriView
Terminal=false
Categories=Graphics;Viewer;Qt;KDE;
MimeType=image/png;image/apng;image/jpeg;image/jp2;image/jxl;image/gif;image/webp;image/avif;image/avif-sequence;image/avci;image/heic;image/heic-sequence;image/heif;image/heif-sequence;image/hej2k;image/bmp;image/tiff;image/x-adobe-dng;image/x-canon-cr2;image/x-canon-cr3;image/x-canon-crw;image/x-dcraw;image/x-fuji-raf;image/x-kde-raw;image/x-kodak-dcr;image/x-kodak-k25;image/x-kodak-kdc;image/x-minolta-mrw;image/x-nikon-nef;image/x-nikon-nrw;image/x-olympus-orf;image/x-panasonic-raw;image/x-panasonic-raw2;image/x-panasonic-rw;image/x-panasonic-rw2;image/x-pentax-pef;image/x-sigma-x3f;image/x-sony-arw;image/x-sony-sr2;image/x-sony-srf;image/svg+xml;application/vnd.comicbook+zip;application/x-cbt;application/x-cb7;application/vnd.comicbook-rar;application/x-cbr;
StartupNotify=true
