---
InheritParentConfig: true
Checks: >
  cppcoreguidelines-pro-type-const-cast,
  cppcoreguidelines-pro-type-reinterpret-cast,
  performance-no-automatic-move,
  performance-unnecessary-value-param
CheckOptions:
  cppcoreguidelines-special-member-functions.AllowImplicitlyDeletedCopyOrMove: 'false'
  cppcoreguidelines-special-member-functions.AllowMissingMoveFunctions: 'false'
  cppcoreguidelines-special-member-functions.AllowMissingMoveFunctionsWhenCopyIsDeleted: 'false'
  cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor: 'false'
