# Managed by devenv:
/rust-analyzer.toml
/.qmlls.ini

# Build artifacts:
.cargo-vendor/
build-dir/
build-ninja/
repo/
target/
*.flatpak
*.flatpakref
*.flatpakrepo

# CMake / Ninja
build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
compile_commands.json
install_manifest.txt
*.ninja
.ninja_deps
.ninja_log
