# Managed by devenv:
/rust-analyzer.toml
/.qmlls.ini
/compile_commands.json

# Build artifacts:
.cargo-vendor/
repo/
target/
*.flatpak
*.flatpakref
*.flatpakrepo

# CMake / Ninja
build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
install_manifest.txt
*.ninja
.ninja_deps
.ninja_log
